body {
	margin: 0px;
	overflow: hidden;
}

canvas {
	width: 3840px;
	height: 2160px;
}

div.motto {
	margin-left: 3em;
	margin-bottom: 0.5em;
	font-size: x-large;
	bottom: 0;
	left: 0;
	position: absolute;
	text-shadow: 0 0 10px #FFF;
}