*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 5em;
    background-color: #434750;
}

.menu {
    --font-bg-color: #3e3f46;
    --left-bg-color: #2e2e33;
    --top-bg-color: #35383e;
    --font-hover-bg-color: #33a3ee;
    --left-hover-bg-color: #1f5378;
    --top-hover-bg-color: #2982b9;
    --hover-move: 1em;
    position: relative;
    transform: skewY(-15deg);
}

.menu>li {
    position: relative;
    list-style: none;
    width: 10em;
    background-color: var(--font-bg-color);
    padding: 1em;
    transition-duration: 0.5s;
    z-index: var(--i, 0);
}

.menu>li:hover {
    transform: translateX(calc(-1 * var(--hover-move)));
    background-color: var(--font-hover-bg-color);
}

.menu.right>li:hover {
    transform: translateX(calc(1 * var(--hover-move)));
}

.menu>li::before {
    --left-width: 3em;
    content: '';
    position: absolute;
    top: 0;
    left: calc(-1 * var(--left-width));
    width: var(--left-width);
    height: 100%;
    background-color: var(--left-bg-color);
    transform-origin: right;
    transform: skewY(45deg);
    transition-duration: 0.5s;
}

.menu>li:hover::before {
    background-color: var(--left-hover-bg-color);
}

.menu>li::after {
    --top-height: 3em;
    content: "";
    position: absolute;
    top: calc(-1 * var(--top-height));
    left: 0;
    width: 100%;
    height: var(--top-height);
    background-color: var(--top-bg-color);
    transform-origin: bottom;
    transform: skewX(45deg);
    transition-duration: 0.5s;
    
}

.menu>li:hover::after {
    background-color: var(--top-hover-bg-color);
}

.menu>li>a {
    text-decoration: none;
    color: #999;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.menu>li:hover>a {
    color: white;
}