body {
	margin: 0px;
}

div.container {
	display: flex;
	justify-content: center;
}

div.motto {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

canvas {
	/* box-shadow: 1px 1px 2px #EEE; */
	width: 1280px;
	height: 960px;
}

span.text {
	text-shadow: 2px 2px 3px #AAA;
	font-size: 28px;
}