*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-color: hsl(240, 3%, 7%);
    --kb-bg-color: hsl(200, 1%, 51%);
    --tile-border-color: hsl(240, 2%, 23%);
    --active-tile-border-color: hsl(200, 3%, 70%);
    --wrong-tile-bg-color: hsl(240, 2%, 23%);
    --wrong-location-tile-bg-color: hsl(49, 51%, 47%);
    --correct-tile-bg-color: hsl(115, 29%, 43%);
    --alert-bg-color: hsl(204, 7%, 85%);
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    margin: 0;
    padding: 1rem;
    font-size: clamp(.5rem, 3.5vmin, 1.5rem);
}

.header {
    color: white;
    width: 100vw;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--kb-bg-color);
}

.game-tutorial {
    position: fixed;
    top: 50vh;
    left: 50vw;
    z-index: 2;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    color: white;
    background-color: dimgray;
    border-radius: 1rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(10rem, 80vw, 40rem);
}

.game-tutorial.show {
    opacity: 1;
    pointer-events: all;
}

.close-button {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    cursor: pointer;
    color: black;
    font-size: 1em;
    background-color: beige;
    text-align: center;
    border-radius: .25rem;
    line-height: 2rem;
}

.guess-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    grid-template-columns: repeat(5, 4rem);
    grid-template-rows: repeat(6, 4rem);
    gap: .25rem;
    margin-bottom: 1rem;
}

.tile {
    font-size: 2rem;
    color: white;
    border: .05rem solid var(--tile-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
    transition: transform 250ms linear;
}

.tile[data-state="active"] {
    border-color: var(--active-tile-border-color);
}

.tile[data-state="wrong"] {
    border: none;
    background-color: var(--wrong-tile-bg-color);
}

.tile[data-state="wrong-location"] {
    border: none;
    background-color: var(--wrong-location-tile-bg-color);
}

.tile[data-state="correct"] {
    border: none;
    background-color: var(--correct-tile-bg-color);
}

.tile.shake {
    animation: shake 250ms ease-in-out;
}

.tile.dance {
    animation: dance 500ms ease-in-out;
}

.tile.flip {
    transform: rotateX(90deg);
}

@keyframes shake {
    10% {
        transform: translateX(5%);
    }
    30% {
        transform: translateX(-5%);
    }
    50% {
        transform: translateX(5%);
    }
    70% {
        transform: translateX(-7.5%);
    }
    90% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes dance {
    20% {
        transform: translateY(-50%);
    }
    40% {
        transform: translateY(5%);
    }
    60% {
        transform: translateY(-25%);
    }
    80% {
        transform: translateY(2.5%);
    }
    90% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0%);
    }
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3rem;
    gap: .25rem;
    justify-content: center;
}

.key {
    font-size: inherit;
    grid-column: span 2;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(
        var(--hue, 200),
        var(--saturation, 1%),
        calc(var(--lightness, 51%) + var(--lightness-offset, 0%))
    );
    color: white;
    fill: white;
    border-radius: .25rem;
    cursor: pointer;
    user-select: none;
}

.key.large {
    grid-column: span 3;
}

.key > svg {
    width: 1.75em;
    height: 1.75em;
    pointer-events: none;
}

.key:hover, .key:focus {
    --lightness-offset: 10%;
}

.key.wrong {
    --lightness: 23%;
}

.key.wrong-location {
    --hue: 49;
    --saturation: 51%;
    --lightness: 47%;
}

.key.correct {
    --hue: 115;
    --saturation: 29%;
    --lightness: 43%;
}

.alert-container {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert {
    pointer-events: none;
    background-color: var(--alert-bg-color);
    padding: .75em;
    border-radius: .25em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .5em;
}

.alert:last-child {
    margin-bottom: 0;
}

.alert.hide {
    opacity: 0;
}

ol {
    list-style-position: inside;
    padding-inline-start: 0;
    padding-inline: 2rem;
}