*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 20rem;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    position: relative;
}

.btn {
    background-color: rgba(0,0,0, 0.5);
    width: 20%;
}

.btn-left, .btn-right {
    position: relative;
    --btn-size: 30px;
}

.btn-left::before, .btn-right::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-left::before {
    border-right: var(--btn-size) solid #fff;
    border-top: var(--btn-size) solid transparent;
    border-bottom: var(--btn-size) solid transparent;
}

.btn-right::before {
    border-left: var(--btn-size) solid #fff;
    border-top: var(--btn-size) solid transparent;
    border-bottom: var(--btn-size) solid transparent;
}

.img-area {
    width: 60%;
    background-image: url('./img/1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: background 1s ease-in-out;
}

.dot-area {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.dot-area>.dot {
    --dot-radius: 3;
    --shadow: rgb(0, 0, 0);
    display: inline-block;
    border-radius: calc(var(--dot-radius) * 1px);
    width: calc(var(--dot-radius) * 2px);
    height: calc(var(--dot-radius) * 2px);
    background-color: rgba(156, 148, 148, 0.9);
    margin: 0 5px;
    box-shadow: 1px 1px 3px var(--shadow);
    transition: background-color 1s ease-in-out;
}

.dot-area>.dot.hightlight {
    background-color: rgba(243, 10, 10, 0.6);
    transition: background-color 1s ease-in-out;
}

