*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    color-scheme: dark light;
}

body {
    margin: 0;
    height: 100svh;
    display: flex;
    gap: .5em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
}

h1, h5 {
    margin: 0;
}

h1 {
    font-size: xxx-large;
}

h5 {
    font-weight: 400;
}

.content-wrapper {
    margin-top: 3em;
    width: min(35em, 90vw);
    padding: 2em;
    background: #fff;
    border-radius: 2em;
}

.col-label {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

#password-input-wrapper {
    margin-bottom: 1em;
}

#password-input-wrapper #generated-pass {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 3em;
    padding: .25em 1em;
    letter-spacing: .1em;
    font-size: large;
    background: #eee;
    font-family: "Courier Prime", monospace;
    outline: none;
    border: 1px solid darkgray;
    border-radius: .5em;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    cursor: text;
}

#password-input-wrapper #generated-pass:hover {
    border-color: #333;
    background: #ddd;
}

#generated-pass .number {
    color: lightcoral;
}

#generated-pass .symbol {
    color: lightseagreen;
}

.password-type {
    display: grid;
    grid-template-columns: auto max-content max-content;
    gap: 1em;
    align-items: end;
}

.password-type .icon-btn {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-play-state: paused;
}

.icon-btn#regenerate:hover {
    animation: rotate-icon 2s infinite linear;
    animation-play-state: running;
}

.icon-btn #copy-icon.hide, .icon-btn #check-icon.hide {
    display: none;
}

@keyframes rotate-icon {
    50% {
        rotate: 180deg;
    }

    100% {
        rotate: 360deg;
    }
}

.icon-btn.primary {
    background: #5BBCFF;
}

.password-type .icon-btn:hover {
    box-shadow: 0 0 5px 2px lightgray;
}

.password-type .select {
    border-radius: .5em;
    border-color: darkgray;
    font-size: large;
    padding: .25em .5em;
    outline: none;
}

.generate-options {
    margin-top: 2em;
    border-radius: 1em;
    background: lightblue;
    padding: 2em 1em;
    position: relative;
    box-shadow: inset 0 0 3px 3px lightskyblue;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.generate-options::before {
    background: lightblue;
    content: '';
    width: 2em;
    height: 2em;
    position: absolute;
    rotate: 45deg;
    top: -.85em;
    left: 25%;
    box-shadow: inset 2px 2px 1px 1px lightskyblue;
}

.generate-options .password-length {
    display: flex;
    align-items: center;
    gap: .5em;
}

.generate-options .password-length input[type=range] {
    width: 100%;
}

.generate-options input[type=checkbox] {
    width: 1.5em;
    height: 1.5em;
}

.generate-options .option {
    display: flex;
    align-items: center;
}

.generate-options.hide {
    display: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: #ddd;
    }

    .content-wrapper {
        background: #222;
    }

    #password-input-wrapper #generated-pass {
        background: #333;
        border-color: #444;
    }

    #password-input-wrapper #generated-pass:hover {
        border-color: #ccc;
        background: #444;
    }

    .password-type .icon-btn:not(.primary) {
        background: #eee;
    }

    .password-type .icon-btn:hover {
        box-shadow: 0 0 5px 2px darkgray;
    }

    .password-type .select {
        border-color: #555;
    }

    .generate-options {
        background: #334;
        box-shadow: inset 0 0 3px 3px #335;
    }

    .generate-options::before {
        background: #334;
        box-shadow: inset 2px 2px 1px 1px #335;;
    }
}